/* Accordion */
	.activeKursiLi {
	    color: #fff !important;
		font-weight: bold !important;
		background: #f39c12 !important;
	}
/* /.Accordion */

/* Table */
	.black{
		background: #000000;
	}
	.orange{
		background: #FF6600;
	}
	.yellow{
		background: #FF9900;
	}
/* /. Table */

.border {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}

/* Grafik */
	.info-box-text {
		font-size: 12px !important;
	}
	.info-box-number {
		font-size: 15px !important;
	}
/* /.Grafik */

/* Font */
	@font-face {
		font-family: Roboto;
		src: url(../font/roboto/Roboto-Regular.ttf);
	}
	* {
        font-family: Roboto;
	}
/* /. Font */

/* Breadcrum */
	.breadcrumb>li:last-child {
		color: #777;
	}
/* /. Breadcrum */

/* Input */
	.required {
		border: 1px solid red;
	}
	.success {
		border: 1px solid green;
	}
	.border-radius {
		border-radius: 3px !important;
	}
	.color-red {
		color: red !important;
	}
	.color-green {
		color: green !important;
	}
	.none {
		display: none !important;
	}
	input[type=search] {
		margin-left: 10px;
	}
/* /. Input */

/* Loading */
	.se-pre-con {
		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		z-index: 99;
		background: url(../img/spin.gif) center no-repeat #fff;
	}
/* /. Loading */

/* Header */
	.navbar-nav>li>a {
		padding-top: 14px;
		padding-bottom: 14px;
	}
/* /. Header */

/* Canvas Picture */
	.canvas-picture {
		height: 160px;
		border: 1px solid #ecf0f5;
		padding: 10px;
	}
	.canvas-picture-xs {
		height: 62px;
		border: 2px solid #f39c12;
		border-radius: 50%;
		overflow: hidden;
	}
	#canvasKetua {
		padding: 20px;
	}
/* /. Canvas Picture */

/* Table */
	table>thead>th:last-child {
		min-width: 180px !important;
	}
/* /. Table */

#canvasFilter{
	margin-bottom: 5px !important;
}.margin-bottom-5px{
	margin-bottom: 5px !important;
}
.nav-tabs-custom>.nav-tabs>li.active>a{
	border-left-color: transparent !important;
	border-right-color: transparent !important;
	border-bottom-color: transparent !important; 
}
.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #F39C12 !important;
	border-left-color: transparent !important;
	border-right-color: transparent !important;
	border-bottom-color: transparent !important; 
}
.box.box-primary {
    border-top-color: #F39C12 !important;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #F39C12 !important;
    border-color: #F39C12 !important;
}
span.info-box-icon>i {
    padding-top: 20%;
}
.bg-yellow {
	background: #F39C12 !important;
}
/* .btn-primary {
	background: #F39C12 !important;
	color: #FFFFFF !important;
}
.btn-primary:hover,.btn-primary:active,.btn-primary.hover{
	background: #F39C12 !important;
	color: #FFFFFF !important;
} */
.box-header,.modal-header{
	background-color: #F39C12;
    color: #fff;
    border-radius: 3px;
}
.optionActive {
	color: #fff !important;
    font-weight: bold !important;
    background: #f39c12 !important;
}
.optionActive>em {
    color: white;
    font-weight: bold;
}
table>thead>tr>th,table>tbody>tr>td {
    font-size: 14px !important;
}
.scroll {
    position: fixed;
    bottom: 0;
    right: 0;
}
.scroll-button{
	background: #f39c12;
    margin: 10px 0px 10px 0px;
    height: 30px;
    font-weight: bold;
    font-size: 20px;
}
.scroll-button:hover{
	cursor:pointer;
}

.header-page {padding: 5px;background-color: #3c8dbc;margin-bottom: 20px;}
ul.ul-sheader-page {list-style: none;padding: 0;margin: 0;margin-bottom: 10px;}
ul.ul-sheader-page li {margin-bottom: -15px;margin-left: 10px;margin-right: 10px;}
li.title {padding: 5px 15px;font-size: 15px;color: #fff;}
.canvas-image {
    width: 200px;
    height: 250px;
    border: 3px solid #eee;
    margin-top: 25px;
    margin-right: 50px;
    float: right;
    padding: 8px;
}
.inner {
    background-color: #eee;
    width: 180px;
    height: 225px;
}
.btn-float-right {
    float: right;
    margin-right: 50px;
    width: 230px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.show-result {
    position: absolute;
    background-color: #fff;
    min-height: auto;
    width: 91.6%;
    z-index: 4;
    border: 1px solid #ddd;
    display: none;
}
ul.show-autocomplete {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.show-autocomplete li {
    padding: 8px;
    border-bottom: 1px solid #eee;
}
ul.show-autocomplete a {color: #000;}
ul.show-autocomplete li:hover { background-color: #eee; }
.chart {
  width: 100%; 
  min-height: 450px;
}
.popup {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
.window {
    width: 70%;
    min-height: 100px;
    max-height: 400px;
    background-color: #fff;
    margin: 8% auto;
    overflow-y: auto;
    overflow-x: hidden;
}
.popup-header {
    padding: 10px;
    background-color: #3c8dbc;
    position: fixed;
    width: 70%;
}
.popup-header {
    padding: 10px;
    background-color: #3c8dbc;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}
.popup-content {
    position: relative;
    padding: 75px 40px 30px 40px;
}
.close-btn {
    font-size: 12px;
    font-weight: normal;
    float: right;
    margin-top: 5px;
}
div#DataTables_Table_0_filter input {
    padding: 17px;
    width: 250px;
    border-radius: 3px;
    margin-left: 10px;
}
div#DataTables_Table_0_filter {
    float: right;
}
ul.pagination {
    float: right;
    margin-top: -10px;
}
div#DataTables_Table_0_info {
    margin-top: 3px;
}
td.dataTables_empty {
    text-align: center;
}
html, body {
height: 100%;
margin: 0;
padding: 0;
}
ul.keeterangan-maps {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 999999;
    background-color: #fff;
    padding: 10px;
    float: right;
    right: 15px;
}
ul.keeterangan-maps li img {
    max-width: 25px;
    padding: 3px;
}
ul.filter li.title {
    margin-left: 5px;
    margin-right: 5px;
}
ul.filter {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.content-menu a {
    color: #fff;
}
ul.content-menu li {
    padding: 10px;
    border-top: 1px solid #e08e0b;
}
ul.content-menu {
    background-color: #f39c12;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 999;
    margin-left: -305px;
    margin-top: 25px;
    list-style: none;
    font-size: 15px;
    color: #fff;
    display: none;
}
html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      #target {
        width: 345px;
      }
.glyphicon-align-justify{display: none;}
.menu-responsive { display: none; }
.fadeIn { display: block; }


@media  (max-width: 678px) 
{
    .parent-menu{display: none;}
    .menu-responsive { display: block; }
}
#basic-addon2:hover {$datacursor: pointer;}
#active_menu{color: #fff; background: #1e282c; border-left-color: #3c8dbc;}
.pagination {display: inline-block;padding-left: 0;margin: 20px 30px;border-radius: 4px;}
.profile-user-info {display: table;float: left;margin: 0 auto;}
.profile-user-image{background: white;height: 264px;padding: 4px;border: 1px solid grey;box-shadow:1px 1px 5px black;}
.profile-info-row {display: table-row;}
.profile-info-name {text-align: left;padding: 6px 10px 6px 4px;font-weight: 400;color: #667E99;background-color: transparent;border-top: 1px dotted #D5E4F1;display: table-cell;width: 110px;vertical-align: middle;}
.profile-info-value {display: table-cell;padding: 6px 4px 6px 6px;border-top: 1px dotted #D5E4F1;}
.kosong{font-size: 24px;text-align: center;padding: 20px;}
.float-right { float: right; }
.tambah {margin-top: 10px;}
.margin-pagination {margin-top: -25px;}
.submit-ajax {float:right;border-radius:3px;width:100px;}
.show-image {width: 100%;border: 1px solid #eee;height: 250px;margin-bottom: 20px;}
.canvashistory { background: rgba(70, 70, 70, 0.8); width: 100%; height: 100%; z-index: 1111; position: fixed; display: none; }
.showhistory{ width: 50%; height: 70%; background: white; margin: 0 auto; margin-top: 7.5%; border-radius: 5px; }
.closehistory{ width: 35px; height: 35px; float: right; border-radius: 50%; background: red; margin: -13px; border: 1px solid white; font-size: 20px; padding: 6px; color:white;}
.closehistory:hover{cursor:pointer;}
.text-helper {margin-left: -20px;text-transform: lowercase;}
table.custom>thead>tr>th{vertical-align:middle;background-color:#f4f4f4;}
table.custom>tbody>tr>td{vertical-align:middle;}
tr.custom2>th{background-color:#f4f4f4;}
.dataTables_empty {text-align: center;}
.margin-left-45 {margin-left: -45px;}
.btn.btn-xs  { padding: 5px; }
.title { background-color: #f6c100; padding-top: 1px; padding-bottom: 1px; padding-left: 20px; border: 1px solid #777; margin-bottom: 25px; }
.btn--custom { padding: 10px; background-color: #048898; color: #fff; border-radius: 0; width: 150px; border: 1px solid #777; margin-top: 30px; margin-right: 20px; margin-bottom: 30px; float: right; }
.model-btn--custom { padding: 10px; background-color: #048898; color: #fff; border-radius: 0; width: 150px; border: 1px solid #777; margin-top: 5px; margin-bottom: 5px; float: right; }
.popup { margin-top:10px;background-color: #f39c12; width: 66%;margin-left:17%; height: 460px; position: absolute; z-index: 9999; border-radius: 3px; display:none; position:fixed;}
.popup-body{height: 95%; width: 100%; bottom: 0; position: absolute;}
.window { position: fixed; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(0, 0, 0, 0.5); z-index: 9; display: none;}
button.btn.btn-primary.btn-sm.g-maps {top: 12px; float:right; margin-right: 10px;}
button.btn.btn-danger.btn-sm.close-maps {top: 12px; float:right; margin-right: 10px;}
.btn-close:hover { cursor: pointer; color: red;}
.btn-close { position: fixed; z-index: 9; right: 0; top: 0; font-size: 25px; font-weight: normal; padding: 10px; color: #D7D7D7;}
.modal-footer { padding-right: 15px; text-align: right; border-top: 1px solid #e5e5e5;}
.menu{height: 30px; text-align: center; padding: 5px; color: black; font-weight: 600;}
.menu:hover{color: black; background:#f39c12;}
.menu-active{color: black; background:#f39c12;}
.form-custom { padding-top: 10px; padding-bottom: 10px; margin-top: -7px; }
.form-short { padding: 8px; border: 1px solid #ccc; border-radius: 3px; }
.entity { width: 100%; }
div#DataTables_Table_0_paginate,div#masterloker_paginate, div.dataTables_paginate {margin-top: 10px;margin-right: 15px;margin-bottom: 10px;}
div#DataTables_Table_0_info, div.dataTables_info {margin-left: 15px;margin-top: 10px;}
.border-top{ border: 2px solid #f39c12; margin-top: 10px; margin-bottom: 10px;}
.modal-dialog {z-index: 9999999999;}
h4#myModalLabel { font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: bold;color: white;}
.modal-header{background: #f39c12;}
.menu-monitoring{height:50px;}
input#pac-lokasi{ background-color: #fff; font-family: Roboto; font-size: 15px; font-weight: 300; padding: 0 11px 0 13px; text-overflow: ellipsis; width: 300px; height:30px; right: 25px; margin-top:10px; border-radius:5px; border-collapse:collapse; }
input#pac-lokasi:focus { border-color: #4d90fe; }
.panel-default>.panel-heading { color: white; background-color: #f39c12; border-color: #ddd; font-weight: 600; }
.panel-body{overflow-x:auto;};
.min-height {   min-height: 1px;}
.ui-tooltip.ui-widget.ui-corner-all.ui-widget-content{ display: none;}
.menu:hover{	cursor: pointer; }

@media (min-width: 768px)
{
	.form-control.drawer_nmae { width: 170%; }
}
@media (max-width: 768px)
{
	.tb-hidden{display:none;}
	#legend { display:none; }
	.tb-location{width:25%;}
	.tb-drawer{width:75%;}
}
.add{
	display: block;
}
.edit{
	display: block;
}
.del{
	display: block;
}
.view{
	display: block;
}
.hideadd{
	display: none;
}
.hideedit{
	display: none;
}
.hidedel{
	display: none;
}
.hideview{
	display: none;
}
